{
    "presets": [
      ["@babel/env", {
        "targets": {
          "chrome": 79
        }
      }],
      "@babel/react"
    ],
    "plugins": [
      ["@babel/plugin-proposal-decorators", {"legacy": true}]
    ],
    "env": {
      "development": {
        "presets": [],
        "plugins": ["react-hot-loader/babel", "remove-webpack"]
      },
      "production": {
        "plugins": []
      }
    }
  }
  